<style media="screen">
#ju{background-image: url("http://www.sunfoodcolor.com/download/1473760817pro4.jpg");
background-size: auto 100%;
color: white;
}
/*end of jumbotron*/
    #jum{border-right: thick solid #ff0000;
        border-bottom: thick solid #ffffff;
        border-top: thick solid #ffffff;
        border-left: thick solid #ff0000;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdJsGq-Qukwu_lMyLlxj_IagfOp7BdkcvrUU4Ck81Kz2GQbIVc");
background-size: auto 100%;
}
/*end of DIV one*/


#yy{border-right: thick solid #ff0000;
    border-top: thick solid #ffffff;
    border-bottom: thick solid #ffffff;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdJsGq-Qukwu_lMyLlxj_IagfOp7BdkcvrUU4Ck81Kz2GQbIVc");
background-size: auto 100%;
}
/*end of DIV two*/
</style>



<div class="jumbotron" id="ju">
    <div class="row">
        <div class="col-sm-6" id="jum">


  <h1>Ephie William's</h1>
  <p>Get in touch with our best dishes</p>
  {{#link-to 'store'}}<button class='btn btn-success'>View Our Products</button>{{/link-to}}
  </div>
  <div class="col-sm-6" id="yy">
      <h1>M-HOTELI</h1>
      <p>The best in Online Food Deliveries </p>
      {{#link-to 'contact'}}<button class='btn btn-success'>Contact Us</button>{{/link-to}}
  </div>
  </div>
</div>

<div class="row">
    <center><h1>People who have Tasted Our Products</h1></center>
    <div class="">
        <img src="https://cdn.mpasho.co.ke/wp-content/uploads/2016/09/ZUCKEBERG.jpeg" alt="">
        <img src="https://i0.wp.com/www.techweez.com/wp-content/uploads/2016/10/4_137344966702661731.jpg?fit=2285%2C1638" alt="">
      <img src="https://scarletwrite.files.wordpress.com/2016/01/wp-1453820156690.jpeg" alt="">
      <img src="http://nairobiwire.com/wp-content/uploads/2016/04/jaymo-2.jpg" alt="">
      <img src="http://bit.ly/2a2qWgd" alt="">
      <img src="https://dqpa1ou18htth.cloudfront.net/wp-content/uploads/2016/09/17.jpg" alt="">
      <img src="https://3.bp.blogspot.com/-E4AtCc9JcKA/V8kswN3BnXI/AAAAAAAALCI/klKIx0Mh9XwOI0e-__Sfa_UQX8s3vYh8QCEw/s1600/14.jpg" alt="">
      <img src="https://4.bp.blogspot.com/-mYn-uliTT8U/V8ksvuwR3NI/AAAAAAAALB4/uxBQYMDIZdckxWeandigAgAeB2c_gRiOwCEw/s400/11-m.jpg" alt="">
      <img src="https://4.bp.blogspot.com/-Jm-GiSd7LJw/V8ksvqGjvaI/AAAAAAAALB8/pJ2B06dAY1MzXO6SVxq_d4wGBvMNOcAoACEw/s320/12.jpg" alt="">
      <img src="http://1.bp.blogspot.com/-3OOOpNJb6gk/Vjr9Tfsa9_I/AAAAAAAAMCg/h8Vn_TMjOYQ/s1600/Alfred-Mutua-the-salonist-2.jpg" alt="">
      <img src="https://cdn.mpasho.co.ke/wp-content/uploads/2017/01/kalembe2.jpg" alt="">
    </div>


</div>
<!-- this displays the home page -->
